@green1: #5dc094;
@green2: #268f65;
@green3: #00613a;
@green0: #90f3c4;
@off-white: #e6e7e8;
@accent: #4946b4;
@red1: #d32027;
@red2: #990000;
@red0: #ff5c50;

@font-face{
	font-family: typoRound;
	src: url("typoRound.otf");
}

*{font-family: typoRound;}

.bg-green1{
	background-color: @green1;
	color: @off-white;
}

.bg-green2{
	background-color: @green2;
	color: white;
	transition: .3s;
}

.button{
	transition: .1s;
	.bg-green1;
	font-size: 24pt;
	border: 2px solid;
	
	&:hover{
		.bg-green2;
		box-shadow: 2px 2px @green3;
	}

	&:active{
		.bg-green2;
		transform: translateY(4px) translateX(2px);
		box-shadow: none;
		&:focus{box-shadow: none;}
	}
}

.navbar{
	&, &-dark{
		.bg-green1;
		margin-bottom: 0;
		padding: 0;
		font-size: 1.2em;
		border: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		height: 70px;
	}

	&-brand{
		min-height: 55px;
		padding: 0 2px 2px 5px;
		float: left;
	}

	&-toggler{
		.button;
		margin: 6px;
		padding: 0 5px;
		border: none;
		outline: none !important;

		&:active, &:focus, &:hover{
			.bg-green2;
			box-shadow: 2px 2px @green3;
		}

		span{
			text-decoration: none;
			padding: 8px 5px;
			color: @off-white;
			font-size: 42px;

			&:hover{
				text-decoration: none;
				color: white;
			}
		}
	}

	&-nav{
		li{
			transform: translateX(100%);
			a{
				padding: 0 .6rem;
				color: @off-white;
				text-decoration: none;

				&:hover, &:active, &focus{color: white;}
			}
		}

		.collapsing &{
			li{
				transform: translateX(-100%);

				&:nth-child(1){transition-delay: .1s;}
				&:nth-child(2){transition-delay: .2s;}
				&:nth-child(3){transition-delay: .3s;}
				&:nth-child(4){transition-delay: .4s;}
				&:nth-child(5){transition-delay: .5s;}
			}
		}

		.show &, .collapsing &{
			background-color: rgba(256, 256, 256, 0);
			padding: 0;
			margin: 0;
			border: 0;
			width: min-content;
			transition: .3s ease;

			li{
				font-size: 24pt;
				text-align: right;
				float: right;
				border-radius: 5px;
				box-shadow: 2px 2px @green3;
				width: 152px;
				margin: 3px 6px 3px 0;
				padding: 5px 20px;
				.button;
				transition: .3s ease;

				a{padding: 0;}
			}
		}
	}
}

.main{
	margin-top: 70px;

	.btn{
		padding: 12px 22px;

		.button;
	}

	.carousel{
		.carousel-caption{
		 top: 50%;
		 transform: translateY(-50%);
		 text-transform: initial;
	 }

	 .carousel-indicators{
		margin: 0;
		position: static;
		text-align: left;
		width: 100%;

		li {
			background-color: transparent;
			height: auto;
			margin: 0;
			width: auto;

			img {
				display: block;
				opacity: 0.5;
				max-height: 100px;
				max-width: 100%;
			}

			&.active img{opacity: 1;}

			&:hover img{opacity: .75;}
		}
	 }
 }

	.container-fluid{
		margin: 0;
		padding: 0;
		width: 100%;

		.button-group{
			text-align: center;
			padding-bottom: 4px;

			button{
				.button;
				height: 60px;
				width: 60px;
				padding: 0;
				border-radius: 1.25rem;
				vertical-align: middle;
				outline: none;
				
				&.is-checked{
					& .fa-home{display: initial}

					& .fa-times{display: none;}

					&:hover{box-shadow: none;}
				}

				&:active, &.is-checked{
					.bg-green2;
					
					img{color: white;}
				}

				img{max-width: 50px;}

				.fas{
					width: 100%;
					vertical-align: text-top;
					font-size: 28pt;
				}

				.fa-times{
					display: initial;
					font-size: 32pt;
				}

				.fa-home, .fa-ellipsis-v{display: none;}
			}
		}

		h1{text-align: center;}


		.side-bar{
			padding: 0;

			.sticky{
				position: sticky;
				top: 70px;
			}

			article, .grid-sizer{width: 100%;}
		}

		.count{
			text-align: right;
			color: #e6e7e8;
		}
	}

	
}

.grid{
	background: @off-white;

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	article, &-sizer{width: 33.333%;}

	article{
		position: relative;
		vertical-align: bottom;
		float: left;

		a:hover{text-decoration: none;}

		img{
			width: 100%;
			display: block;
		}

		&:hover section{opacity: 1;}

		section{
			text-align: center;
			color: white;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 0;
			transition: .25s ease-in;

			.vignette{
				background: linear-gradient(rgba(0,0,0,.35),rgba(36,36,36,.35));

				span{font-size: 24px;}

				.date{color: @green0;}

				hr{
					width: 35%;
					margin: 0 auto;
				}

				h4{
					margin: 0 auto;
					padding-bottom: 5px;
				}
			}
		}
	}
}

footer{
	margin: 0;
	.bg-green1;
	width: 100%;
	padding: 1%;

	.icon{
	max-width: 200px;
	margin: 1% auto;
	}

	.fab{
		.button;
		border: none !important;
		padding: 6px;
		font-size: 42pt;
		margin: 5px;
	
		&:hover{
			border-radius: 5px;
			text-decoration: none;
		}
	}
}

@media (max-width: 986px){
	.grid{article, &-sizer{width: 50%;}}
}

@media (max-width: 768px){
	.dropdown-menu{display: none;}
	
	.dropdown-toggle{display: inherit;}

	.main .container-fluid{
		padding: 0.5%;
	
		.side-bar{position: relative;}
	}

	.grid{article, &-sizer{width: 100%;}}
	
	.carousel-caption{display: none;}

	footer .icon{
		max-width: 150px;

		.fab{
			font-size: 20px;
			padding: 10px;
		}
	}
}