@green1: #5dc094;
@green2: #268f65;
@green3: #00613a;
@green0: #90f3c4;
@off-white: #e6e7e8;
@accent: #4946b4;
@red1: #d32027;
@red2: #990000;
@red0: #ff5c50;

@font-face{
	font-family: typoRound;
	src: url("typoRound.otf");
	src: url("Typo_Round_Regular_Demo.otf");
}

*{font-family: typoRound;}

.bg-green1{
	background-color: @green1;
	color: @off-white;
}

.bg-green2{
	background-color: @green2;
	color: white;
	transition: .3s;
}

.button{
	.bg-green1;
		font-size: 24pt;
		border: 2px solid;
	
	&:hover{
		.bg-green2;
	}
}

.navbar{
	&, &-dark{
		.bg-green1;
		margin-bottom: 0;
		padding: 0;
		font-size: 1.2em;
		border: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		height: 70px;
	}

	&-brand{
		min-height: 55px;
		padding: 0 2px 2px 5px;
		float: left;
	}

	.dropdown{
		.btn{
			.bg-green1;
			margin: 6px;
			padding: 0 5px;

			&:active, &:focus, &:hover{
				.bg-green2;
				box-shadow: 2px 2px @green3;
			}

			&::after{display: none;}

			span{
				text-decoration: none;
				padding: 8px 5px;
				color: @off-white;
				font-size: 42px;

				&:hover{
					text-decoration: none;
				}
			}
		}

		&-menu{
			background-color: rgba(256, 256, 256, 0);
			padding: 0;
			margin: 0;
			border: 0;
			width: min-content;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;

			a{
				font-size: 24pt;
				text-align: right;
				float: right;
				border-radius: 5px;
				box-shadow: 2px 2px @green3;
				width: 152px;
				margin: 3px 6px 3px 0;
				padding: 5px 20px;
				transition: .3 ease;

				.button;

				&:nth-child(1){transition-delay: .1;}
				&:nth-child(2){transition-delay: .2;}
				&:nth-child(3){transition-delay: .3;}
				&:nth-child(4){transition-delay: .4;}
				&:nth-child(5){transition-delay: .5;}
			}

			@keyframes drop {
				0%{
					transform: translateX(-25px);
				}

				100%{
					transform: translateX(0px);
				}
				
			}
		}
	}
}

.main{
	margin-top: 70px;

	.btn{
		padding: 12px 22px;

		.button;
	}

	.carousel{
		img{width: 100%;}
 
		.carousel-caption{
		 top: 50%;
		 transform: translateY(-50%);
		 text-transform: initial;
	 }
 }

	.container-fluid{
		margin: 0;;
		padding: 0 4%;
		width: 100%;

		h1{text-align: center;}

		.col-sm-4{padding: 0;}

		.count{
			text-align: right;
			color: #e6e7e8;
		}
	}
}

.grid{
	background: @off-white;

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	article{
		position: relative;
		vertical-align: bottom;
		float: left;

		a:hover{text-decoration: none;}

		&, &-sizer{width: 33.333%;}

		img{
			width: 100%;
			display: block;
		}

		&:hover section{opacity: 1;}

		section{
			text-align: center;
			color: white;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 0;
			transition: .25s ease-in;

			.vignette{
				background: linear-gradient(rgba(0,0,0,.35),rgba(36,36,36,.35));
				padding-bottom: 10px;

				span{font-size: 24px;}

				.date{color: @green0;}

				hr{
					width: 35%;
					margin: 0 auto;
				}

				h4{
					margin: 0 auto;
					padding-bottom: 5px;
				}
			}
		}
	}
}

footer{
	margin: 0;
	.bg-green1;
	width: 100%;
	padding: 1%;

	.icon{
	max-width: 200px;
	margin: 1% auto;
	}

	.fab{
		padding: 6px;
		font-size: 42pt;
		color: @off-white;
		margin: 5px;
	
		&:hover{
			.bg-green2;
			border-radius: 5px;
			box-shadow: 2px 2px @green3;
			text-decoration: none;
		}
	}
}

@media (max-width: 986px){
	.grid{article, &-sizer{width: 50%;}}
}

@media (max-width: 768px){
	.dropdown-menu{display: none;}
	
	.dropdown-toggle{display: inherit;}

	.main .container-fluid{padding: 0.5%;}

	.grid{article, &-sizer{width: 50%;}}
	
	.carousel-caption{display: none;}

	footer .icon{
		max-width: 150px;

		.fab{
			font-size: 20px;
			padding: 10px;
		}
	}
}