@green1: #5dc094;
@green2: #268f65;
@green3: #00613a;
@green0: #90f3c4;
@off-white: #e6e7e8;
@accent: #4946b4;
@red1: #d32027;
@red2: #990000;
@red0: #ff5c50;

@font-face{
	font-family: typoRound;
	src: url("Typo_Round_Regular_Demo.otf");
}

html, div{
	font-family: typoRound;
}

.bg-green1{
	background-color: @green1;
	color: @off-white;
}

.bg-green2{
	background-color: @green2;
	color: white;
	transition: .3s;
}
  
.navbar{
	.bg-green1;
	margin-bottom: 0;
	border-radius: 0;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	max-height: 80px;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}

.collapse.navbar-collapse{
	vertical-align: top;
	max-height: 80px;
}

.navbar-inverse .navbar-nav{
	li a{
		color: @off-white;
		font-size: 18pt;

		&:hover{
			.bg-green2;
			border-radius: 5px;
			box-shadow: 2px @green3;
		}
	}
	
	active a{
		&:focus, &:hover{
			.bg-green1;
		}
	}
}

.main{
	margin-top: 80px;
}

.carousel img{
	width: 100%;
}

.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	text-transform: initial;
}

.btn{
	.bg-green1;
	font-size: 24px;
	padding: 12px 22px;
	border: 2px solid;

	&:hover{
		.bg-green2;
		border: 2px solid;
	}
}

.container{
	margin: 4% auto;
	width: 100%;
	max-width: 100%;

	h1{
		text-align: center;
	}
}

article{
	position: relative;
	vertical-align: bottom;

	a:hover{
		text-decoration: none;
	}

	article img{
		width: 100%;
	}

	&:hover section{
		opacity: 1;
	}

	section{
		text-align: center;
		color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 0;
		transition: .25s ease-in;

		.vignette{
			background: linear-gradient(rgba(0,0,0,.5),rgba(12,12,12,.5));
			padding-bottom: 10px;

			hr{
				width: 35%;
				margin: 0 auto;
			}
			
			h4{
				margin-bottom: 0;
			}
		}
	}
}

.fa{
	padding: 15px;
	font-size: 42px;
	color: @off-white;

	&:hover{
		.bg-green2;
		border-radius: 5px;
		box-shadow: 2px @green3;
		text-decoration: none;
	}
}

footer{
	.bg-green1;
	width: 100%;
	padding: 1%;

	h3,h4{
		font-size: 18pt;
	}

	.icon{
	max-width: 200px;
	margin: 1% auto;
	}
}

@media (max-width: 820px){
	.collapse.navbar-collapse{
		display: none;
	}
	.navbar-toggle{
		display: inherit;
	}
	.carousel-caption{
		display: none;
	}
	footer .icon{
		max-width: 150px;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
}