.carousel-main.is-fullscreen .flickity-viewport{
	transform: translateY(15%);
}

.carousel-main.is-fullscreen .carousel-cell img{
	height: 600px;
}

.carousel-main .carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-nav .carousel-cell {
  margin-right: 4px;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

.carousel-nav{
	margin-top: .75%;
}

.carousel-nav .carousel-cell img{
	max-height: 100px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}