#highlights .carousel-indicators {
	margin: 0;
	position: static;
	text-align: left;
	width: 100%;
}
#highlights .carousel-indicators li {
	background-color: transparent;
	height: auto;
	margin: 0 !important;
	width: auto;
}
#highlights .carousel-indicators li img {
	display: block;
	opacity: 0.5;
}
#highlights .carousel-indicators li:active img {
	opacity: 1;
}
#highlights .carousel-indicators li:hover img {
	opacity: 0.75;
}